{"env":{"staging":{"db":"http:\/\/user:password@127.0.0.1:5984\/staging"},"default":{"db":"http:\/\/user:password@127.0.0.1:5984\/development"},"production":{"db":"http:\/\/user:password@127.0.0.1:5984\/production"}}}